p {
    padding: 10px;
    color: darkgray;
    text-indent: 10px;
    font-size: 18px;

}

p:first-child {
    color: pink;
}

p:nth-child(2n) {
    font-variant: small-caps;

}

P:nth-child(2) {
    border: 5px solid blueviolet;
}

p:last-child {
    font-style: italic;
}



.first{
    color: grey;
}

.first:hover {
    color: yellow;
}

.first:visited {
    color: green;
}

.first:active {
    color: violet;
}



.second {
    text-decoration: none;
    
}

.second:hover {
    text-decoration: underline;
}

.third {
    padding: 10px;
    background: green;
    color: #ffffff;
    text-decoration: none;
    border: 5px solid skyblue;
}